:root {
  --clr-primary: hsl(233, 47%, 7%);
  --fw-main: 400;
  --ff-regular: "Inter", sans-serif;
  --fs-standart: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-standart);
  font-family: "Lexend Deca", var(--ff-regular);
  font-weight: var(--fw-main);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
