:root {
  --clr-primary: hsl(233, 47%, 7%);
  --fw-main: 400;
  --ff-regular: "Inter", sans-serif;
  --fs-standart: 15px;
  --clr-natural-transparent-white-headings: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-standart);
  font-family: "Lexend Deca", var(--ff-regular);
  font-weight: var(--fw-main);
  background-color: var(--clr-primary);

  display: grid;
  place-content: center;
  padding-inline: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  color: var(--clr-natural-transparent-white-headings);
}

#root {
  isolation: isolate;
}
